/* estilos gerais */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: #0d0d0d;
}

/* estilos da capa e propiedades padrão da folha. */

.folha {
    background-color: #1a1a1a;
    margin: 91px 141px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding-bottom: 7px;
}

#capa{
  /* estilos somente para folha de capa */
}

.navbar {
    background-color: #003380;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.links {
    border: 2px solid transparent;
    background-color: lightgray;
    padding:8px;
    border-radius:13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color:black;
    font-size:1rem;
}

.links:hover {
    background-color:white;
}

.titulo-capa {
    color:lightgray ;
    text-align: center;
    margin: 80px 0;
    font-size:38px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.fotos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.perfil {
    padding: 15px;
    margin-top: 20px;
}

.perfil img{
    border-radius:100%;
    border: 3px solid white;
    width: 180px;
    height: 180px;
}

.perfil p {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    color: lightgray;
    font-family: monospace;
}

.descricao-capa {
    text-align: center;
    text-transform: uppercase;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 38px;
    margin-top: 80px;
    margin-bottom: 40px;
}

/* estilos padrão da folha de aula e folha 1: */

#aula01 {
    /* estilos personalizados */
}

.texto-aula {
    text-align: start;
    margin-left: 65px;
    color: lightgray;
    font-weight: bold;
    max-width:630px;
}

.animacao {
    color: white;
    text-align: end;
    margin:  0px 100px 220px 0 ;
}

.titulo-aula {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    margin: 60px 0 20px 0;
    border-bottom: 2px solid lightgray;
    display: inline-block;
}

.assunto-aula {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;  
}

.data-aula {
    font-size:22px;
    font-family: 'Times New Roman', Times, serif;
}

.conteudo-aula {
    font-weight: bold;
    font-family: monospace;
    font-size: 1.3rem;
    text-align: justify;
    margin-top: 20px;
}

.texto-grifado {
    color: lightgreen;
}

.link-grifado {
    color:white;
    text-decoration: none;
}

.link-grifado:hover {
    text-decoration: underline;
}

.topicos-aula {
    margin-top: 16px;
    font-family: monospace;
    font-weight: bold;
    padding-bottom: 35px;
}

.topico-texto {
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.3rem;
    text-transform: uppercase;  
    color: #8cb2ec;
}

.definicao-texto {
    font-size: 1.1rem;
    font-family: monospace;
    padding: 5px;
    margin-left: 6px;
}

/* estilos aula 2 */

#aula02 {
    /* personalizações */
}

/* estilos aula 3: */

#aula03 {
    /* personalizações */
}

/* Adicionei essa alteração basicamente pra retirar o margin-left padrão da classe "definicao-texto": */
.titulo-exercicio {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 5px 0 5px 0;
}

/* Foi adicionado esse id pra implementar um margin-top a mais para o elemento: */
#explicacao-exercicio {
    text-transform: uppercase;
    margin-top:10px;
}

/* estilos para a aula 04: */

#aula04 {
    /*personalizações  */
}

.quadro {
    margin-top: 15px;
}

.titulo-quadro {
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

.conjuncoes-quadro {
    display:flex;
    justify-content: center;
    padding: 2px;
}

/* (IMPLEMENTAÇÃO DO EXERCÍCIO): foi criado um id para cada linking word para diferenciá-las atraves de cores, o nome do id é a linking word por si só: */
#so {
    border: 2px solid black;
    background-color: lightgreen;
    color:black;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

#and {
    color:#fff;
    background-color:red;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}

#because {
    color:black;
    border: 2px solid black;
    background-color:yellow;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
}

#but {
    color:black;
    background-color: lightskyblue;
    padding: 2px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#or {
    color:black;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    background-color: pink;
}

#for {
    color:black;
    background-color:yellowgreen;
    border: 2px solid black;
    padding:2px;
    font-family: Arial, Helvetica, sans-serif;
}

#when {
    color:#fff;
    border: 2px solid black;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff1ac6;
}

#despite {
    color:white;
    border: 2px solid black;
    padding: 3px;
    font-family:Arial, Helvetica, sans-serif ;
    background-color:#262626;
}

#even-thoug {
    color:black;
    background-color: #006699;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
}

/* Estilização da aula 5: */

#aula04{

}

